/* INFORMATIONS GENERALES
Couleur principale : #AE8964
Couleur secondaire : #008037
Police d'écriture : Montserrat
*/
/* PAGE ENTIERE =  =  =  =  =  =  =  =  =  =  =  =  =  =  =  */
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #008037;
    font-weight: bold;
}
h3 {
    text-shadow : 0 0 10px black;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
}

/* NAVBAR =  =  =  =  =  =  =  =  =  =  =  =  =  =  = */
nav {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

nav img {
    width: 155px;
}

nav div {
    background-color: #AE8964;
}

#elementnav a {
    font-size: 1.5em;
    color: #008037;
    transition: all 0.5s;
}

#lacour {
    font-family: 'Oooh baby', sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    transition: all 0.5s;
}

#lacour a {
    color: #1B4F08;
}

#elementnav a:hover {
    color: white;
}

#lacour a:hover {
    color: #008037;
}

/* CAROUSEL =  =  =  =  =  =  =  =  =  =  =  =  =  =  = */
/* GESION ICONES - - - - - - - - - - */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev {
    height: 52.5%;
    align-items: flex-end;
}

/* GESTION BOUTONS - - - - - - - - - - */
.carousel-caption {
    left: 1em;
    text-align: left;
    flex-direction: column;
}

.bouton-carousel-1 {
    border-radius: 30px;
    width: 18%;
    height: 7%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #008037;
    background-color: #AE8964;
    border: solid 1px #7c5d3d;
    transition: all 1s;
    z-index: 3;
}

@media screen and (max-width:736px) {
    .bouton-carousel-1 {
        width: 35%;
        height: 5%;
        font-size: 15px;
    }

    .bouton-carousel-2 {
        display: none;
    }
}

.bouton-carousel-1:hover {
    background-color: white;
    color: black;
    border: solid 1px #7c5d3d;
}

.bouton-carousel-2 {
    border-radius: 30px;
    width: 18%;
    height: 7%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #AE8964;
    background-color: #008037;
    border: solid 1px #003b1a;
    transition: all 1s;
}

.bouton-carousel-2:hover {
    background-color: white;
    color: black;
    border: solid 1px #7c5d3d;
}

/* PHOTOS SOUS LE CAROUSEL =  =  =  =  =  =  =  =  =  =  =  =  =  =  =  */
#photo-arbre {
    height: 500px;
    background-image: url(../images/arbre_liberte.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.photos-carousel h3 {
    color: white;
}

#photo-lavoir {
    height: 500px;
    background-image: url(../images/lavoir.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 10px;
}

#photo-chambre {
    height: 500px;
    background-image: url(../images/chambre1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 10px;
}

/* PREMIER PARAGRAPHE =  =  =  =  =  =  =  =  =  =  =  =  =  =  =  */
/* TEXTE */
#paragraphe1 {
    margin-top: 100px;
}

#paragraphe1 h4 {
    font-size: 2em;
}

#text-p-1 {
    padding: 0 20px;
    text-align: justify;
}

#paragraphe1 h4:after {
    display: block;
    width: 400px;
    height: 4px;
    background-color: #008037;
    content: "";
    margin-top: 30px;
}
#paragraphe1 p {
    margin-top:40px;
}

/* IMAGE */
#paragraphe1 img {
    height: 100%;
    width: 90%;
    margin-left: 50px;
    justify-self: center;
}

.image-p1 {
    text-align: center;
}

@media screen and (max-width:1200px) {
    #paragraphe1 img {
        margin-left: 0;
        margin-top: 30px;
    }
}
/* LES DESTINATIONS PHARES =  =  =  =  =  =  =  =  =  =  =  =  =  =  =  */
#destinations {
    margin-top:100px;
    background-color:#AE8964;
    padding-top:20px;
}
#destinations h2 {
    font-size:3em;
}
@media screen and (max-width:690px) {
    #destinations h2 {
        font-size:2em;
    }
}
#destinations h3 {
    color:white;
}
#photo-a {
    background-image: url(../images/puy-du-fou.jpg);
    height:500px;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:row-reverse;
    align-items:flex-end;
    padding-right:20px;
}
#photo-b {
    background-image: url(../images/ile-noirmoutier.jpeg);
    height:500px;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:row-reverse;
    align-items:flex-end;
    padding-right:20px;
}
#photo-c {
    background-image: url(../images/saintjeandemonts.jpg);
    height:500px;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:row-reverse;
    align-items:flex-end;
    padding-right:20px;
}
#photo-d {
    background-image: url(../images/decouvrir-vendee.jpeg);
    height:500px;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:row-reverse;
    align-items:flex-end;
    padding-right:20px;
}
/* DEUXIEME PARAGRAPHE =  =  =  =  =  =  =  =  =  =  =  =  =  =  = */ 
/* TEXTE */
#paragraphe2 {
    margin-top:100px;
}
#paragraphe2 h4 {
    font-size: 2em;
}

#text-p-2 {
    padding: 0 20px;
    text-align: justify;
}

#paragraphe2 h4:after {
    display: block;
    width: 400px;
    height: 4px;
    background-color: #008037;
    content: "";
    margin-top: 30px;
}
#paragraphe2 p {
    margin-top:40px;
}
/* IMAGE */
#paragraphe2 img {
    height:auto;
    width:100%;
}
/* FOOTER =  =  =  =  =  =  =  =  =  =  =  =  =  =  =  */
footer {
    background-color: grey;
    margin-top:100px;
    padding: 0 20px 10px 20px;
}
footer p {
    color:white;
    font-size:20px;
}
#bouton-footer {
    background-color: white;
    border-radius:30px;
    font-family:'Montserrat', sans-serif;
    font-size:1.3em;
    color:#008037;
    font-weight:bold;
    width:10em;
    transition:all 0.6s;
}
#bouton-footer:hover {
    color:white;
    background-color: black;
}
footer i{
    font-size:4em;
    color:#008037;
    transition:all 0.6s;

}
footer i:hover {
    color:white;
}
#reseaux {
    display:flex;
    flex-direction:row-reverse;
    gap:4%;
}
#CGU {
    display:flex;
    align-items:flex-end;
}
#CGU p {
    margin-bottom:0;
}
/* <=> <=> <=> <=> <=> GITES <=> <=> <=> <=> <=> */
/* - - - - - - - - - - ACCUEIL - - - - - - - - - - */
#g-accueil {
    background-image: linear-gradient(rgba(0,120,200,0.2), rgba(0,124,124,0.2)), url(../images/Images-Gîte/Photo-exterieur.jpg);
    background-position:center;
    background-size:cover;
    height:80vh;
    padding-left:20px;
}
#g-btn {
    border-radius: 30px;
    width: 15%;
    height: 15%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #AE8964;
    background-color: #008037;
    border: solid 1px #003b1a;
    opacity:95%;
    transition: all 1s;
}
#g-accueil h1 {
    color:white;
    margin-top:20px;
    margin-left:2px;
}
#g-accueil h4 {
    color:white;
    font-size:1em;
    margin-bottom:30px;
    margin-left:5px;
}
@media screen and (max-width:1080px) {
    #g-btn {
        font-size:0.8em;
    }
}
@media screen and (max-width:780px) {
    #g-btn {
        width:40%;
    }
}
/* - - - - - - - - - - CAROUSEL - - - - - - - - - - - */
#g-section2 {
    border:2px solid grey;
    margin-top:50px;
    margin-bottom:50px;
}
#g-section2 img {
    height:50vh;
}
#carouselExampleIndicators {
    background-color:#AE8964;
    height:50vh;
}
#g-section2 .col {
    padding:0;
}
/* - - - - - - - - - - ANNONCE - - - - - - - - - - */
#g-annonce {
    background-color: #AE8964;
    height:15vh;
}
@media screen and (max-width:600px) {
    #g-annonce {
        height:20vh;
    }
}
/* <=> <=> <=> <=> <=> CONTACT <=> <=> <=> <=> <=> */
/* - - - - - - - - - - ACCUEIL - - - - - - - - - - */
#c-accueil {
    background-image: url(../images/Images-Contact/Image-header.jpg);
    background-position:center;
    background-size:cover;
    height:80vh;
    padding-left:20px;
}
#c-accueil h1 {
    color:white;
}
#c-accueil h4 {
    color:white;
}
#c-accueil h1 {
    margin-left:1px;
    margin-top:30px;
}
#c-accueil h4 {
    font-size:1em;
    margin-left:3px;
    margin-bottom:30px;
}
#c-accueil h2 {
    margin:0;
    font-size:1.3em;
}
#c-numero {
    display:flex;
    background-color: #AE8964;
    width:230px;
    height:40px;
    justify-content: center;
    align-items:center;
    border-radius:30px;
}
/* CADRE DE CONTACT */
#c-section2 {
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
}
#c-section2 h4 {
    font-size:3em;
    margin-bottom:20px;
}
#c-section2 p {
    color:white;
    font-size:2em;
}
@media screen and (max-width:490px) {
    #c-section2 p {
        font-size:1em;
}
}
#c-textcontact {
    background-color: #AE8964;
    padding:20px;
    box-shadow : 0 0 10px black;
    border-radius:20px;
}
#c-contactlinks {
    text-align:start;
}
#c-contactlinks i {
    margin-right:30px;
    color:darkslategray;
}
#pin {
    margin-right:10px;
}
/* FORMULAIRE */
#c-section3 {
    margin-bottom:50px;
}
#c-blocform {
    border:1px solid grey;
    box-shadow:0 0 5px black;
}
#c-section3 h1 {
    padding-left:8px;
}
#c-section3 h1:after {
    display: block;
    width: 400px;
    height: 2px;
    background-color: #008037;
    content: "";
    margin-top: 20px;
    margin-bottom:30px;
}
#c-form i {
    color:red;
    font-size:10px;
    position:relative;
    bottom:10px;
}
#validationCustom03 {
    width: 49%;
}
#c-btn-form {
    background-color: #AE8964;
    font-family: 'Montserrat', sans-serif;
    color:white;
    margin-bottom:30px;
}
/* LOCALISATION */ 
#c-section4 h1:after {
    display: block;
    width: 200px;
    height: 2px;
    background-color: #008037;
    content: "";
    margin-top: 20px;
    margin-bottom:30px;
}
#c-blocloc {
    background-color: #AE8964;
    border:1px solid grey;
    box-shadow:0 0 10px black;
}
#c-section4 p {
    color:#008037;
}
/* <=> <=> <=> <=> <=> REGION <=> <=> <=> <=> <=> */
/* ACCUEIL */
#r-accueil {
    background-image: linear-gradient(rgba(197, 200, 0, 0.2), rgba(45, 124, 0, 0.2)), url(../images/Images-Region/header.jpg);
    background-size:cover;
    background-position:center;
    height:80vh;
    padding:30px;
}
#r-section1 h1 {
    color:white;
}
#r-section1 h4 {
    color:white;
    font-size:1em;
    margin-left:4px;
}
#r-accueil button {
    border-radius: 30px;
    width: 15%;
    height: 15%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #AE8964;
    background-color: #008037;
    border: solid 1px #003b1a;
    opacity:95%;
    transition: all 1s;
}
@media screen and (max-width:980px) {
    #r-accueil button {
        font-size: 15px;
        width: 25%;
    }
}
@media screen and (max-width:535px) {
    #r-accueil button {
        width: 60%;
    }
}
/* REGION PROCHE */
#r-titre1 {
    background-color: #AE8964;
    border:1px solid grey;
    box-shadow:0 0 10px black;
    padding:40px;
}
#r-titre1 p {
    color:white;
}
@media screen and (max-width:600px){
   #r-section2 .carousel-caption {
       font-size:0.6em;
} 
}
/* VILLES */
#r-titre2 {
    background-color: #AE8964;
    border:1px solid grey;
    box-shadow:0 0 10px black;
    padding:40px;
}
#r-titre2 p {
    color:white;
}
@media screen and (max-width:600px){
    #r-section3 .carousel-caption {
        font-size:0.6em;
 } 
}